<div id="content">
  <h1>Sign in</h1>
  <% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
    <%= f.error_messages %>

    <p><%= f.label :username %></p>
    <p><%= f.text_field :username %></p>
    
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    
    <% if devise_mapping.rememberable? -%>
      <p><%= f.check_box :remember_me %><br/>
         <%= f.label :remember_me %></p>
    <% end -%>
      <p><%= f.submit "Sign in" %></p>
  <% end -%>
  <%= render :partial => "shared/devise_links" %>
</div>

<%= render :partial => "/posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>
