<div id="content">
    <div id="welcome">
   <h1>Editing comment</h1> 
<% form_for([@post, @comment]) do |f| %>  
  <%= f.error_messages %>  
  <p>  
    <%= f.label :commenter %><br />  
    <%= f.text_field :commenter %>  
  </p>  
  <p>  
    <%= f.label :body %><br />  
    <%= f.text_area :body %>  
  </p>  
  <p>  
    <%= f.submit "Update" %>  
  </p> 
<% end %> 
<%= link_to 'Show', post_comment_path(@post, @comment) %> | 
<%= link_to 'Back', post_comments_path(@post) %> 
 </div>
</div>
  <%= render :partial => "/posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>
