    <div id="content">
      <div id="welcome">
      <h1>Comments for <%= @post.title %></h1> 
        <table>  
	  <tr>  
	    <th>Commenter</th>  
	    <th>Body</th>  
	  </tr> 
	  <% for comment in @comments %>  
	  <tr>  
	    <td><%=h comment.commenter %></td>  
	    <td><%=h comment.body %></td>  
	    <td><%= link_to 'Show', post_comment_path(@post, comment) %></td>  
	    <td><%= link_to 'Edit', edit_post_comment_path(@post, comment) %>  </td>  
	    <td><%= link_to 'Destroy', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete %>  </td>  
	  </tr> 
	<% end %> 
	</table>
 	<br /> 
	</div>
<%= link_to 'New comment', new_post_comment_path(@post) %> 
<%= link_to 'Back to Post', @post %>
      </div>
     <%= render :partial => "/posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>
