<div id="content">
      <div id="welcome">
    <h1>Comment on <%= @post.title %></h1> 
  <p>  
    <b>Commenter:</b>  
    <%=h @comment.commenter %> 
  </p> 
  <p>  
    <b>Comment:</b>  
    <%=h @comment.body %> 
  </p> 
  <%= link_to 'Edit', edit_post_comment_path(@post, @comment) %> | 
  <%= link_to 'Back', post_comments_path(@post) %> 
	</div>
</div>
<%= render :partial => "/posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>
