<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %><br />
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br />
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
