<div id="content">
<h2>Sign up</h2>
  <%= render :partial => "form" %>
  <%= render :partial => "shared/devise_links" %>
</div>
<%= render :partial => "/posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>
