<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "default" %>
</head>
<body>
<p style="color: gray"><%= flash[:notice] %></p>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1>Blog</h1>
      <h2>Ruby on Rails</h2>	
					
    </div>
    <div id="menu">
			<ul><li><%= link_to 'New post', new_post_path %></li></ul>
    </div>
  </div>
    <div id="page">
    <%= yield  %>
    </div>
  </div>
  <div id="footer">
  </div>
</body>
</html>
