<div id="sidebar">
  <ul> 
    <h2>User View</h2> 
    <li>
    <div id="user_nav" align="center">
      <% if user_signed_in? %>     
        <h3>Signed in as <%= current_user.username %></h3><br /> 
        <%= link_to "Sign out", destroy_user_session_path %> 
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign_in", new_user_session_path %>
      <% end %>
    </div>
    </li>
  </ul>     
</div>
