<div id="sidebar">
       <ul>
         <li id="submenu">
						<div id="user_nav" align="center">
						  <% if current_user %>
						    <%= link_to "Edit Profile", edit_user_path(:current) %> |
						    <%= link_to "Logout", logout_path %>
						  <% else %>
						    <%= link_to "Register", new_user_path %> |
						    <%= link_to "Login", login_path %>
						  <% end %>
						</div>
         </li>
       </ul> 
    </div>
