    <div id="content">
	<h1>Editing post</h1>
    <%= render :partial => "form" %>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
    </div>
     <%= render :partial => "sidebar" %>
    <div style="clear: both; height: 1px;"></div>
