  <div id="content">
    <h1>Listing posts</h1>
        <% for post in @posts %>
        <table>
        <tr>
          <td>Name</td>
	  <td><%=h post.name %></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><%=h post.title %></td>
        </tr>
        <tr>
          <td>Content</td>
          <td><%=h post.content %></td>
        </tr>
        <tr>
        <td colspan="2" rowspan="1"><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
        </td></tr>
        </table><br/>
        <% end %>
      <br />
    </div>
    <%= render :partial => "sidebar" %>
    <div style="clear: both; height: 1px;"></div>
  </div>

