<div id="content">
	<h1>New post</h1>
	<%= render :partial => "form" %>
	<%= link_to 'Back to Blog', posts_path %>
</div>
<%= render :partial => "posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>

