 <div id="content">
	<h1>Post</h2>
	<ul>
	  <li><b>Name:</b><%=h @post.name %></li>
	  <li><b>Title:</b><%=h @post.title %></li>
	  <li><b>Content:</b><%=h @post.content %></li>
	</ul>
	<h2>Comments</h2> 
	<% @post.comments.each do |c| %>  
	  <ul>
	    <li><b>Commenter:</b><%=h c.commenter %></li>  
	    <li><b>Comment  :</b><%=h c.body %></li> 
	  </ul>
	<% end %>
	<%= link_to 'Edit Post', edit_post_path(@post) %> | 
	<%= link_to 'Back to Posts', posts_path %> | 
	<%= link_to 'Manage Comments', post_comments_path(@post) %>  
</div>
     <%= render :partial => "sidebar" %>
    <div style="clear: both; height: 1px;"></div>
