<div id="content">
	<h1>Login</h1>
	<% form_for @user_session do |f| %>
		<%= f.error_messages %>
		<%= f.label :username %><br />
		<%= f.text_field :username %><br />
		<br />
		<%= f.label :password %><br />
		<%= f.password_field :password %><br />
		<br />
		<%= f.submit "Submit" %>
	<% end %>
</div>
<%= render :partial => "posts/sidebar" %>
<div style="clear: both; height: 1px;"></div>


